<!doctype html>
<html onclick="toggle_focus();">
<head>
    <title>machado-search: Motor de busca para as obras de Machado de Assis</title>
    <script type="text/javascript">
        toggle_focus = function() {
            document.getElementById("search-bar").focus();
        };
    </script>
    <style>
        .content {
            height: 400px;
            text-align: center;
            font-size: 1.5em;

            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            margin: auto;

            max-width: 100%;
            max-height: 100%;
            overflow: auto;
        }
        
        input[type="text"] {
            font-size: 2em;
            border: 0;
            outline: none;
        }
    </style>
</head>
<body onload="toggle_focus();">
    <div class="content">
        <form action="" method="get">
            <label for="query"><h1>machado-search</h1></label>
            <input type="text" id="search-bar" name="query" size="20" placeholder="digite sua consulta + enter" autocomplete="off">
            
            <br><br>
            
            <strong>Pesquisar por:</strong>
            
            <input type="checkbox" name="fields" value="title" checked>
            <label for="fields">título</label>
            
            <input type="checkbox" name="fields" value="content" checked>
            <label for="fields">conteúdo</label>
        </form>
    </div>
</body>
</html>