<!doctype html>
<html lang="br" onclick="toggle_focus();">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>machado-search: Motor de busca para as obras de Machado de Assis</title>
    
    <script type="text/javascript">
        toggle_focus = function() {
            document.getElementById("search-bar").focus();
        };
    </script>
    
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body onload="toggle_focus();">
    <div class="container">
        <div class="row vertical-center">
            <div class="hidden-xs col-lg-4 col-lg-offset-1">
                <img src="{{ url_for('static', filename='img/machado.png') }}" alt="Machado de Assis" id="machado-img" class="img-responsive">
            </div>
            <div class="col-xs-12 col-lg-5">
                <form action="" method="get">
                    <label for="query"><h1><strong>machado-search</strong></h1></label>
                    <br>
                    <input type="text" id="search-bar" name="query" size="20" placeholder="digite sua consulta + enter" autocomplete="off">

                    <br><br><br>
                    
                    <div id="options-box">
                        <span class="h4">pesquisar por:</span>
                        
                        <span class="options" data-toggle="buttons">
                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="fields" value="title" autocomplete="off" checked>
                                título
                            </label>

                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="fields" value="content" autocomplete="off" checked>
                                conteúdo
                            </label>
                        </span>
                        
                        <br><br>

                        <span class="h4">nos gêneros:</span>

                        <span class="options" data-toggle="buttons">
                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="genres" value="romance" autocomplete="off" checked>
                                romance
                            </label>
                            
                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="genres" value="poesia" autocomplete="off" checked>
                                poesia
                            </label>
                            
                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="genres" value="contos" autocomplete="off" checked>
                                contos
                            </label>
                            
                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="genres" value="traducao" autocomplete="off" checked>
                                tradução
                            </label>
                            
                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="genres" value="cronica" autocomplete="off" checked>
                                crônica
                            </label>

                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="genres" value="critica" autocomplete="off" checked>
                                crítica
                            </label>

                            <label for="fields" class="btn btn-default active">
                                <input type="checkbox" name="genres" value="miscelanea" autocomplete="off" checked>
                                miscelânea
                            </label>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>